.row {
  display: flex;
}

.input {
  width: 204px;
}

.panel {
  width: 952px;
  margin: 0 auto;
}

.button {
  width: 175px;
}

.buttonLarge {
  width: 362px;
}

.node {
  display: flex;
  align-items: center;
}

.arrow {
  margin: 0 25px;
}

.list {
  display: flex;
  margin: 100px auto;
  width: 952px;
  justify-content: center;
}
