.row {
  display: flex;
}

.stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 1120px;
  margin: 48px auto 0;
}

.input {
  width: 377px;
}

.panel {
  width: 829px;
  margin: 0 auto;
}
